.table-data {
    width: 70%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {
    .table-data {
        width: 90%;
        margin-top: 30px;
    }
}

.row-button {
    margin: 10px;
    width: 156px;
}